<div class="section">
    <h1 class="title-1">Colors</h1>
    <p>
        The framework defines several different colors values. Each basic color has
        a default color value in addition to several lightened and darkened color calculated
        off the basic color value.
    </p>

    <p>
        Each lightened and darkened color value will either lighten or darken the color value
        by a multiple of <code>5%</code>.
    </p>
</div>

<div class="section">
    <% var colors = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Purple', 'Brown', 'Grey'] %>

    <% for (var i = 0; i < colors.length; i++) { %>
        <% var colorClass = colors[i].toLowerCase() %>

        <h2 class="title-4 flex">
            <div class="swatch mr-default">
                <div class="color fill-<%= colorClass %>"></div>
                <span class="name"><%= colors[i] %></span>
            </div>
        </h2>

        <div class="section">
            <div class="row">
                <% for (var ii = 0; ii < [1,2,3,4,5].length; ii++) { %>
                    <div class="column">
                        <div class="swatch-panel is-shadowed">
                            <div class="color fill-<%= colorClass %>-lighten-<%= ii + 1 %>"></div>
                            <span class="name">lighten <%= ii + 1 %></span>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <% for (var ii = 0; ii < [1,2,3,4,5].length; ii++) { %>
                    <div class="column">
                        <div class="swatch-panel is-shadowed">
                            <div class="color fill-<%= colorClass %>-darken-<%= ii + 1 %>"></div>
                            <span class="name">darken <%= ii + 1 %></span class="name">
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <div class="swatch">
        <div class="color fill-black"></div>
        <span>Black</span>
    </div>
</div>