<div class="mb-large">
    <h1 class="title-1">Helpers</h1>

    <p>
        Defined below are all of the SaaS variables the plugin used to define and style its
        various components. Feel free to override and change the variables/values as you
        see fit for your specific use cases.
    </p>

    <p>
        Most of the SaaS variables have a corresponding helper class that lets your finely
        control the look and feel of the built in components and systems. For example the
        variable <code>$color-light</code> has a corresponding class <code>.color-light</code>
        that matches the name of the variable.
    </p>

    <p>
        Any variables that are denoted as sass lists will have each of the list values concatenated
        to the end of the corresponding sass variable by a dash.
    </p>
</div>

<% for (var property in sassVariables) { %>

<div class="section mb-large">
    <h2 class="title-4"><%= property.charAt(0).toUpperCase() + property.slice(1) %> Helpers</h2>
    <table class="table is-fixed-width is-rounded is-shadowed">
        <thead class="fill-light">
            <tr>
                <th>Class</th>
                <th>Variable</th>
                <th>Value</th>
                <th>Sass Type</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < sassVariables[property].length; i++) { %>
            <tr>
                <td>
                    <% if (sassVariables[property][i].sassType === 'list') { %>
                        <code>.<%= sassVariables[property][i].name.substr(1) %>-[val]</code>
                    <% } else { %>
                    <code>.<%= sassVariables[property][i].name.substr(1) %></code>
                    <% } %>
                </td>
                <td>
                    <code><%= sassVariables[property][i].name %></code>
                </td>
                <td><%= sassVariables[property][i].value %></td>
                <td><%= sassVariables[property][i].sassType %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<% } %>